$main-color: linear-gradient(
    238.55deg,
    rgba(244, 114, 182, 0.75) 15.98%,
    rgba(145, 153, 217, 0.75) 55.85%,
    rgba(56, 189, 248, 0.75) 84.59%
  ),
  linear-gradient(134.36deg, #f472b6 15.23%, #9797d7 49.79%, #38bdf8 84.77%);

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.nav_bar {
  width: 100vw;
  height: 15.385vw;
  .nav_bar_items {
    position: fixed;
    width: 100%;
    height: 15.385vw;
  }
  .title {
    font-size: 5.128vw;
  }
  .selectBtn {
    font-size: 4.103vw;
  }
}

.members {
  display: flex;
  align-items: center;
  gap: 2.051vw;
  padding: 0px 4.103vw;
  background-color: #f2f4f6;
  width: 100vw;
  height: 15.385vw;
  .member {
    width: 10.256vw;
    height: 10.256vw;
    border-radius: 9999px;
    background-position: center;
    background-size: cover;
  }
  .no_select_member {
    filter: grayscale(100%);
  }
  .select_member {
  }
}

.categories {
  width: 100vw;
  height: 10.256vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.974vw;

  p {
    font-size: 4.103vw;
    color: #b1b8c0;
  }
}

.is_selected {
  background: $main-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-blend-mode: lighten, normal;
  font-weight: 500;
}

.photos {
  width: 100vw;
  padding: 4.103vw;
  gap: 0.513vw;
  position: relative;
  // TODO : 총 사진 개수 아래에 잘 나오게 수정하기.
  min-height: 11.538vw;
  grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
}

.tab_bar {
  width: 100vw;
  // height: 18.462vw;
  height: 22.564vw;
  position: fixed;
  bottom: 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3.077vw 3.077vw 0px 0px;
  padding: 8.205vw;
}

.total_count {
  font-size: 3.59vw;
  position: relative;
}

.select_check {
  width: 5.128vw;
  height: 5.128vw;
  background: $main-color;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  display: flex;
  padding: 2.051vw;
}
