$main-color: linear-gradient(
    238.55deg,
    rgba(244, 114, 182, 0.75) 15.98%,
    rgba(145, 153, 217, 0.75) 55.85%,
    rgba(56, 189, 248, 0.75) 84.59%
  ),
  linear-gradient(134.36deg, #f472b6 15.23%, #9797d7 49.79%, #38bdf8 84.77%);

$bg-color: white;
$bg-color2: #f2f4f6;
$bg-color3: #ffffff;

// html[data-theme="light"] {
//   --bg-color: white;
//   --bg-color2: #f2f4f6;
//   --bg-color3: #ffffff;
// }

// html[class="dark"] {
//   --bg-color: black;
//   --bg-color2: #101012;
//   --bg-color3: #262626;
// }
