// @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
// @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");
* {
  // font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
  touch-action: none;
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

::-webkit-scrollbar {
  display: none;
}

#__next {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
  touch-action: pan-y;
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  overflow: scroll;
}
:root {
  --btn-color: #3d3e3e
  --album-nav: linear-gradient(180deg, #ffffffb8 50%, #ffffff0a);
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --btn-color: white;
    --album-nav: linear-gradient(180deg, #262626b8 50%, #2626260a);
    --background-end-rgb: 0, 0, 0;
  }
}

// body {
//   color: rgb(var(--foreground-rgb));
//   background: linear-gradient(
//       to bottom,
//       transparent,
//       rgb(var(--background-end-rgb))
//     )
//     rgb(var(--background-start-rgb));
// }
