$main-color: linear-gradient(
    238.55deg,
    rgba(244, 114, 182, 0.75) 15.98%,
    rgba(145, 153, 217, 0.75) 55.85%,
    rgba(56, 189, 248, 0.75) 84.59%
  ),
  linear-gradient(134.36deg, #f472b6 15.23%, #9797d7 49.79%, #38bdf8 84.77%);

@media (prefers-color-scheme: dark) {
  $bg-color: black;
  $bg-color2: #101012;
  $bg-color3: #262626;
}
$bg-color: white;
$bg-color2: #f2f4f6;
$bg-color3: #ffffff;

.logo {
  background: $main-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-blend-mode: lighten, normal;
}

.count_circle {
  background: $main-color;
  background-blend-mode: lighten, normal;
}

.cards {
  padding: 0 4.103vw;
  .card {
    // &:nth-child(1) {
    //   margin-left: 4.103vw;
    // }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.25));
}

.plus_btn {
  background: $main-color;
  background-blend-mode: lighten, normal;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  left: 50vw;
  transform: translate(-50%, 0%);
}

.tab_bar {
  position: fixed;
  bottom: 0px;
}

.tab_bar_block {
  box-shadow: 0px -0.5px 7px -4px #000000;
  width: 43.59vw;
  height: 88px;
}

.mid_box {
  position: fixed;
  top: 100vh;
  left: 50vw;
  transform: translate(-50%, -100%);
  width: 15.385vw;
  height: 11.795vw;
}

.selected_icon {
  background: $main-color;
  background-blend-mode: lighten, normal;
}

.nav_bar {
  touch-action: pan-x;
}

.no_scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.image {
  width: 288px;
  height: 384px;
}

// .current_text_box {
//   p {
//     font-weight: 700;
//     color: #8a8a8a;
//   }
// }
