$main-color: linear-gradient(
    238.55deg,
    rgba(244, 114, 182, 0.75) 15.98%,
    rgba(145, 153, 217, 0.75) 55.85%,
    rgba(56, 189, 248, 0.75) 84.59%
  ),
  linear-gradient(134.36deg, #f472b6 15.23%, #9797d7 49.79%, #38bdf8 84.77%);

.logo {
  background: $main-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-blend-mode: lighten, normal;
}

.count_circle {
  background: $main-color;
  background-blend-mode: lighten, normal;
}

.cards {
  .card {
    &:nth-child(1) {
      margin-left: 16px;
    }
  }
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.25));
}

.plus_btn {
  background: $main-color;
  background-blend-mode: lighten, normal;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  left: 50%;
  transform: translate(-50%, 0%);
}

.tab_bar {
  box-shadow: 0px -0.5px 7px -4px #000000;
  width: 43.59vw;
  height: 10.427vh;
}

.mid_box {
  top: 100%;
  left: 50%;
  transform: translate(-55%, -100%);
  width: 60px;
  height: 46px;
}

.selected_icon {
  background: $main-color;
  background-blend-mode: lighten, normal;
}

.total_album {
  position: fixed;
  top: 80vh;
  width: 100vw;
  height: 95vh;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px 24px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 10px;
}

@keyframes click-total {
  0% {
    top: 80vh;
  }
  100% {
    top: 6vh;
  }
}

.click_total_album {
  // height: 95vh;
  // animation: click-total 1s forwards;
  top: 6vh !important;
  transition: all 1.5s;
}

// @keyframes no-total {
//   from {
//     top: 6vh;
//   }
//   to {
//     top: 80vh;
//   }
// }

.no_click {
  // animation: no-total 1s forwards;
  top: 80vh !important;
  transition: all 1.5s;
}

.nav_bar {
  touch-action: pan-x;
}

.no_scroll {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

.total_item {
  width: 41.026vw;
  height: 41.026vw;
}

@keyframes search-box {
  0% {
    opacity: 0;
    width: 32px;
  }
  100% {
    opacity: 1;
    width: 280px;
  }
}

@keyframes search-text {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.search {
  div {
    animation: search-box 1s forwards;
  }
  span {
    animation: search-text 1s forwards;
  }
}

@keyframes no-search-box {
  0% {
    opacity: 1;
    width: 280px;
  }
  100% {
    opacity: 0;
    width: 32px;
  }
}

@keyframes no-search-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.no_search {
  div {
    animation: no-search-box 1s forwards;
  }
  span {
    animation: no-search-text 1s forwards;
  }
}

.search_box {
  display: flex;
  justify-content: space-between;
  width: 280px;
  span {
    position: relative;
  }
  div {
    position: absolute;
    height: 32px;
    border-radius: 16px;
    border: black solid 3px;
  }
}
