$main-color: linear-gradient(
    238.55deg,
    rgba(244, 114, 182, 0.75) 15.98%,
    rgba(145, 153, 217, 0.75) 55.85%,
    rgba(56, 189, 248, 0.75) 84.59%
  ),
  linear-gradient(134.36deg, #f472b6 15.23%, #9797d7 49.79%, #38bdf8 84.77%);

.story {
  position: fixed;
  width: 0vw;
  height: 0vh;
  // width: 100vw;
  // height: 100vh;
  // border-radius: 8px;
  color: white;
  // background-color: #2f2f30;
  background: linear-gradient(to Bottom, #2f2f30, #373738);
  z-index: 9999;
  opacity: 0;
  animation: openStory 0.7s forwards;
}

.prev::after {
  content: "";
  background: linear-gradient(to Right, #2f2f309e, #2f2f3000);
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
}

@keyframes openStory {
  0% {
    opacity: 0;
    width: 0vw;
    height: 0vh;
  }
  100% {
    opacity: 1;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
  }
}

.image {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  animation: img 0.25s forwards;
}

@keyframes img {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.info_container {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  top: 0px;
  left: 0px;
  color: white;

  nav {
    padding: 8px 6px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .status_bar {
      width: 100%;
      height: 2px;
      border-radius: 32px;
      gap: 2px;
      .each_bar {
        position: relative;
        background: #b1b8c02d;
        border-radius: 32px;
      }
      .before {
        background: #b1b8c0;
      }
      .now {
        background: #b1b8c02d;
      }
      .now::after {
        content: "";
        background: #b1b8c0;
        position: absolute;
        opacity: 1;
        left: 0;
        top: 0;
        width: 0%;
        height: 100%;
        animation: now_read 10s cubic-bezier(0.36, 0.34, 0.6, 0.6) infinite;
      }
    }
    .info {
      padding: 0 8px;
      display: flex;
      justify-content: space-between;
      .info_item {
        display: flex;
        gap: 8px;
        .profile {
          width: 24px;
          height: 24px;
          border-radius: 999px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
        .name {
          font-size: 16px;
        }
        .time {
          font-size: 16px;
          color: rgba(255, 255, 255, 0.515);
        }
      }
      .exit {
      }
    }
  }
  footer {
    .go_to_album {
    }
    .fav {
    }
  }
}

@keyframes now_read {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
