.logo {
  background: linear-gradient(
      238.55deg,
      rgba(244, 114, 182, 0.75) 15.98%,
      rgba(145, 153, 217, 0.75) 55.85%,
      rgba(56, 189, 248, 0.75) 84.59%
    ),
    linear-gradient(134.36deg, #f472b6 15.23%, #9797d7 49.79%, #38bdf8 84.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-blend-mode: lighten, normal;
}

.count_circle {
  background: linear-gradient(
      238.55deg,
      rgba(244, 114, 182, 0.75) 15.98%,
      rgba(145, 153, 217, 0.75) 55.85%,
      rgba(56, 189, 248, 0.75) 84.59%
    ),
    linear-gradient(134.36deg, #f472b6 15.23%, #9797d7 49.79%, #38bdf8 84.77%);
  background-blend-mode: lighten, normal;
}

.cards {
  .card {
    &:nth-child(1) {
      margin-left: 16px;
    }
  }
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.25));
}

.plus_btn {
  background: linear-gradient(
      238.55deg,
      rgba(244, 114, 182, 0.75) 15.98%,
      rgba(145, 153, 217, 0.75) 55.85%,
      rgba(56, 189, 248, 0.75) 84.59%
    ),
    linear-gradient(134.36deg, #f472b6 15.23%, #9797d7 49.79%, #38bdf8 84.77%);
  background-blend-mode: lighten, normal;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  left: 50%;
  transform: translate(-50%, 0%);
}

.tab_bar {
  box-shadow: 0px -0.5px 7px -4px #000000;
}

.mid_box {
  top: 100%;
  left: 50%;
  transform: translate(-55%, -100%);
  width: 60px;
  height: 46px;
}

.selected_icon {
  background: linear-gradient(
      238.55deg,
      rgba(244, 114, 182, 0.75) 15.98%,
      rgba(145, 153, 217, 0.75) 55.85%,
      rgba(56, 189, 248, 0.75) 84.59%
    ),
    linear-gradient(134.36deg, #f472b6 15.23%, #9797d7 49.79%, #38bdf8 84.77%);
  background-blend-mode: lighten, normal;
}

.total_album {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 166px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px 24px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 10px;
}

@keyframes click-total {
  0% {
    height: 166px;
  }
  100% {
    height: 95vh;
  }
}

.click_total_album {
  height: 95vh;
  animation: click-total 2s forwards;
}

@keyframes no-total {
  from {
    height: 95vh;
  }
  to {
    height: 166px;
  }
}

.no_click {
  animation: no-total 2s forwards;
}
