$main-color: linear-gradient(
    238.55deg,
    rgba(244, 114, 182, 0.75) 15.98%,
    rgba(145, 153, 217, 0.75) 55.85%,
    rgba(56, 189, 248, 0.75) 84.59%
  ),
  linear-gradient(134.36deg, #f472b6 15.23%, #9797d7 49.79%, #38bdf8 84.77%);

.footer {
  position: relative;
}

.total_album {
  position: fixed;
  top: 80vh;
  width: 100vw;
  height: 95vh;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6.154vw 6.154vw 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.103vw;
  gap: 2.564vw;
}

@keyframes click-total {
  0% {
    top: 80vh;
  }
  100% {
    top: 6vh;
  }
}

.click_total_album {
  top: 6vh !important;
  transition: top 1s;
}

.no_click {
  top: 80vh !important;
  transition: top 1s;
}

.total_item {
  width: 41.026vw;
  height: 41.026vw;
}

@keyframes search-box {
  0% {
    opacity: 0;
    width: 8.205vw;
  }
  100% {
    opacity: 1;
    width: 71.795vw;
  }
}

@keyframes search-text {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.search {
  div {
    animation: search-box 0.5s 0.5s forwards;
  }
  span {
    animation: search-text 0.5s forwards;
  }
}

@keyframes no-search-box {
  0% {
    opacity: 1;
    width: 71.795vw;
  }
  100% {
    opacity: 0;
    width: 8.205vw;
  }
}

@keyframes no-search-text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.no_search {
  div {
    animation: no-search-box 0.5s forwards;
  }
  span {
    animation: no-search-text 1s forwards;
  }
}

.search_box {
  display: flex;
  justify-content: space-between;
  width: 71.795vw;
  span {
    position: relative;
  }
  div {
    opacity: 0;
    position: absolute;
    height: 8.205vw;
    border-radius: 4.103vw;
    border: black solid 3px;
    // TODO 검색창 색깔 고민중
    // border: "#F2F4F6" solid 3px;
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    input {
      height: 6.667vw;
      width: 95%;
      border-radius: 4.103vw;
      background-color: #ffffff00;
      font-size: 16px;
      font-weight: 400;
      position: relative;
      top: -0.59vw;
      left: 2.051vw;
      &::placeholder {
        color: #aaaaaa;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.lds_roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds_roller div {
  animation: lds_roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds_roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: $main-color;
  margin: -4px 0 0 -4px;
}
.lds_roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds_roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds_roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds_roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds_roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds_roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds_roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds_roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds_roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds_roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds_roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds_roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds_roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds_roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds_roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds_roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds_roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 153.846vw;
}
